h1{
    font-size: 42px;
}
.winnie2{
    width: 30px;
    height: 30px;
}
div{
    margin: auto;
    align-content: center;
    text-align: center;
}
p{
    font-family: 'Courier New', Courier, monospace;
}